<template>
  <div id="app">
    <Header/>
    <AddTodo @add-todo="addTodo"/>
    <Todos v-bind:todos="todos" @del-todo="deleteTodo" />
  </div>
</template>

<script>
import Header from './components/layout/Header.vue';
import Todos from './components/Todos.vue';
import AddTodo from './components/AddTodo.vue';
import axios from 'axios';

export default {
  name: 'App',
  components: {
    Header,
    AddTodo,
    Todos
      },
  data(){
    return {
      todos: []
    }
  },
  methods:{
    deleteTodo(id){
      //axios.delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
        //.then(res =>this.todos = this.todos.filter(todo => todo.id !== id))
        //.catch(err=>console.log(err));
      this.todos = this.todos.filter(todo => todo.id !== id);
    },
    addTodo(newTodo){
      const {title, completed} = newTodo;
      axios.post('https://jsonplaceholder.typicode.com/todos',{
        title,
        completed
      })
        .then(res=> this.todos = [...this.todos, res.data])
        .catch(err=>console.log(err));
    }
  },
  // this method will run first
  created(){
    // limit to 5:  "?_limit=5"
    axios.get('https://jsonplaceholder.typicode.com/todos')
      .then(res=>this.todos=res.data)
      .catch(err=>console.log(err));
  }
}
</script>

<style>
  *{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }

  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background: #666;
  }

</style>
