<template>
  <div >
    <h3>Add Todo</h3>
  </div>
</template>

<script>
export default {
  name: 'AddTodo',
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
