<template>
  <div >
    <h3>Todos</h3>
  </div>
</template>

<script>
export default {
  name: 'Todos',
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
